<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Secrets</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
</head>
<style>

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
  }
  
  header .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  header nav a {
    color: #fff;
    margin-left: 1rem;
    text-decoration: none;
  }
  
  header nav button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin-left: 1rem;
    cursor: pointer;
  }
  </style>

<body>
  <header>
    <div class="logo">Hope Lift</div>
    <nav>
        <a href="/home">Home</a>
        <a href="/campaign">Campaigns</a>
        <a href="/about">About Us</a>
        <a href="/contact">Contact Us</a>
        <a href="/login"><button class="login">Login</button></a>
        <a href="/register"><button class="signup">Sign Up</button></a>
    </nav>
</header>
