<%- include('partials/header') %>

<style>
  .campaign-card {
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 2rem;
  display: flex;
  align-items: flex-end;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}


.bg-1 {
  background-image: url('media/cpg1.jpg');
}

.bg-2 {
  background-image: url('media/cpg2.jpg');
}

</style>
<main class="container" style="margin-top: 7%;">
  <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-6 px-0">
      <h1 class="display-4 fst-italic">Supplies for war refugies</h1>
      <p class="lead my-3">Your generous support will go directly toward verified campaigns, ensuring transparency, accountability, and a real impact. Whether it’s a small gift or a recurring donation, every bit helps, and together we can create lasting change.</p>
      <p class="lead mb-0"><a href="/campaign1" class="text-body-emphasis fw-bold">View more</a></p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="campaign-card card-with-bg bg-1">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">World</strong>
          <h3 class="mb-0">Featured post</h3>
          <div class="mb-1 text-body-secondary">Nov 12</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">Continue reading</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="campaign-card card-with-bg bg-2">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success-emphasis">Design</strong>
          <h3 class="mb-0">Post title</h3>
          <div class="mb-1 text-body-secondary">Nov 11</div>
          <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">Continue reading</a>
        </div>
      </div>
    </div>
  </div>
</main>
